.dashboardContainer {
    margin: 140px 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.formCard {
    width: 40%;
    padding: 20px;
    border: 5px solid #112d4e;
    border-radius: 12px;
}

.formCard label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
}

.formCard input,
.formCard textarea,
select {
    width: 90%;
    padding: 10px;
    margin-top: 6px;
}

#submitBtn, #savePostBtn {
    background: #112d4e;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px 20px;
    cursor: pointer;
}

#statusMsg {
    margin-top: 20px;
    font-weight: 600;
}