.postContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
    max-width: 90%;
    margin: 0 auto;
}

.postHero {
    align-self: center;
    margin-top: 40px;
    width: 40%;
    height: calc(100vw * .5);
    object-fit: contain;
    border-radius: 8px;
}

.content {width: 50%;}

.postMeta {
    color: #777;
    margin-top: -2px;
}

.postContent {
    margin-top: 30px;
    font-size: 1.05rem;
    word-wrap: break-word;
}

.backBtn {
    display: inline-block;
    margin-top: 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 900px)  {
    .postContainer {flex-direction: column}
    .postHero {height: auto;}
    .content {width: 100%;}
    .backBtn {margin-top: 20px;}
}