@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sour+Gummy:ital,wght@1,533&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Datatype:wght@856&family=Fjalla+One&family=Gamja+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Margarine&family=Sour+Gummy:ital,wght@1,533&display=swap');.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

h2, h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

p {
    /*font-family: "Margarine", sans-serif;*/
    /*font-weight: 400;*/
    /*font-style: normal;*/
}
