/*RECOMMEND*/ /*CATEGORIES*/
.recommend, .categories {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 5rem 0;
}
.recommendWrapper, .categoriesWrapper {
    margin-top: -1.5rem;
    width: 90%;
    height: 100%;
    display: grid;
    gap: 1rem;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.categoriesWrapper {grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));}
.recommendWrapper a, .categoriesWrapper a {
    display: flex;
    width: 100%;
    height: 200px;
    text-decoration: none;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.recommendWrapper a:hover, .categoriesWrapper a:hover {
    background-size: 120%;
    border-radius: 5px;
}
.recommendWrapper a p, .categoriesWrapper a p {
    margin: auto;
    color: white;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .recommendWrapper, .categoriesWrapper {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .recommendWrapper a, .categoriesWrapper a {height: 130px;}

    .recommendWrapper a p, .categoriesWrapper a p {
        font-size: clamp(12px, 5vw, 1.5rem);
    }
}
@media (max-width: 450px) {
    .recommendWrapper, .categoriesWrapper {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .categories {padding-top: 0;}

    .recommendWrapper a, .categoriesWrapper a {height: 90px;}
}

/*OUR RESOURCES*/
.ourResources {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background: #112d4e;
    gap: 2rem;
    padding: 5rem 0;
}
.ourResourcesTitle h1 {
    color: white;
    font-size: clamp(20px, 10vw, 3rem);
}
.ourResourcesWrapper {
    width: 90%;
    height: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: space-between;
}
.ourResourcesInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.img {
    display: flex; align-items: center; justify-content: center;
    width: 120px; height: 120px; border-radius: 100%;
    background-position: center; background-size: cover;
    border: 5px solid #112d4e;
}
.img img {width: 50%; height: 100%;}
.ourResourcesInfo h2 {margin-top: 10px; color: #112d4e; font-size: clamp(10px, 5vw, 1.5rem);}
.ourResourcesInfo p {padding: 5px 30px; text-align: center; color: rgba(17, 45, 78, 0.85);}

@media (max-width: 700px) {
    .ourResourcesInfo {
        height: 300px;
    }

    .ourResourcesInfo p {font-size: 15px;}

    .img {width: 90px; height: 90px;}

}
@media (max-width: 500px) {
    .ourResourcesWrapper {gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));}
    .ourResourcesInfo {
        height: 260px;
    }
    .ourResourcesInfo p {font-size: 10px;}
}
@media (max-width: 400px) {
    .ourResourcesWrapper {gap: 1rem; grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));}
    .img {width: 60px; height: 60px; border: 2px solid #112d4e;}
    .ourResourcesInfo {height: 220px;}
    .ourResourcesInfo p {padding: 0 15px;}
}

/*BEHIND THE SCENE SECTION START*/
.behind-the-scene {
    width: 100%;
    margin-top: 100px;
    padding: 40px 0;
    color: #112d4e;
}
.section-header {
    text-align: center;
    margin-bottom: 40px;
}
.section-header h3 {
    color: #3f72af;
    font-weight: 600;
    margin-bottom: -7px;
    font-size: clamp(10px, 5vw, 1.2rem);
}
.section-header h1 {
    text-transform: uppercase;
    font-size: clamp(20px, 5vw, 2.5rem);
    font-weight: 800;
    color: #112d4e;
}
.scene-grid {
    margin-top: -1rem;
    padding: 0 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}
.scene-card {
    background: #f9f7f7;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.scene-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.scene-content {
    padding: 20px 25px;
    text-align: left;
}
.scene-content h2 {
    font-size: clamp(13px, 2vw, 20px);
    margin-bottom: 5px;
    color: #112d4e;
}
.icon {display: flex; align-items: center;}
.scene-content .icon img {
    width: 10px;
    height: 100%;
    margin-right: 5px;
}
.scene-content p {
    font-size: clamp(10px, 2vw, 13px);
    color: #3f72af;
    line-height: 1.5;
    margin-bottom: 12px;
}
.photo-meta {
    display: flex;
    gap: 12px;
    font-weight: 600;
    font-size: clamp(10px, 2vw, 12px);
    color: #112d4e;
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    .scene-content {padding: 10px 15px;}
    .scene-grid {gap: 15px; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
    .scene-card img {
        height: 130px;
    }
}
@media (max-width: 570px) {
    .scene-grid {padding: 0 2%; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
    .scene-content {padding: 10px 8px;}
    .scene-card img {
        height: 100px;
    }
}
@media (max-width: 450px) {.scene-grid {grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}  }
/*BEHIND THE SCENE SECTION END*/

/*HOW TO USE/CREDIT FOR THE RESOURCES START*/
.howToUse {
    padding: 100px 0;
    width: 100%;
    height: auto;
}

.howToUseContent {
    margin-top: -1.5rem;
    padding: 0 5%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.howToUseContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;

    background: #f9f7f7;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.howToUseContentBoxIcon {width: 50%; height: 40px; object-fit: contain;}

.howToUseContentBox h3 {color: #112d4e; font-size: clamp(14px, 2vw, 1rem);}
.howToUseContentBox p {color: rgba(17, 45, 78, 0.85); font-size: clamp(11px, 2vw, .8rem);}
.howToUseContentBox h3, .howToUseContentBox p {
    padding: 0 20px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    .howToUseContent {grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));}
}

@media (max-width: 420px) {
    .howToUseContent {grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));}
    .howToUseContentBox h3, .howToUseContentBox p {padding: 0 10px;}
}
/*HOW TO USE/CREDIT FOR THE RESOURCES END*/

@media (max-width: 800px) {
    .categories, .howToUse {padding-top: 40px;}
    .ourResources, .behind-the-scene {margin-top: 40px;}
}




